.nextGame .flag{
  display: inline-block;
}
.nextGame .flag.placeholder{
  min-width: 550px;
  min-height: 300px;
  background-color: lightgrey;  
}

.nextGame .flag img{
  /* Responsive image */
  height: auto;
  width: 100%;

  display: block;
}

.nextGame header{
  padding: 40px;
}
